<nav class='nav nav-underline justify-content-center mb-5'>
  <a class='nav-link active' aria-current='page' href='/'>{{menu.users}}</a>
  <a class='nav-link' href='/regions'>{{menu.regions}}</a>
  <a class='nav-link' href='/search'>{{menu.searchDistance}}</a>
  <a class='nav-link' href='/search'>{{menu.searchPoint}}</a>
</nav>